# vi swap files
*.swp
*.swo

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules

# Temporary files.
.tmp/
